{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DermaLytica AI</title>
	{% include 'Components/Derma head.html' %}
</head>
<body style="background-image: url('{% static 'Photos/SiteBackground.png' %}')">


<div id="vantajs-bg" class="vantajs-bg"></div>
<div class="container h-100 d-flex justify-content-center align-items-center"
     style="min-height: 100vh;">
	<div class="row w-100">
		<!-- Empty space to position the form on the right -->
		<div class="col-md-6 titleCard">
			<u>DermaLytica AI </u>
			<span>Early Detection. Better Protection.</span>
		</div>

		<!-- Form centered to the right -->
		<div class="col-md-6">
			<div class="card">
				<div class="card-body">
					<form method="POST" action="{{ form_action|default:'.' }}" enctype="multipart/form-data">
						{% crispy form %}
					</form>

				</div>
			</div>
		</div>
	</div>
</div>

<script>
	VANTA.NET({
		el: '#vantajs-bg',
		mouseControls: true,
		touchControls: true,
		gyroControls: false,
		scale: 1.00,
		scaleMobile: 1.00,
		color: 0xe6a029,
		backgroundColor: 0x1a1a22,
		points: 9.00,
		spacing: 17.00
	})
</script>
</body>
</html>
