{% extends 'BullyFilter/baseBullyFilter.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
	<div class="container h-100 d-flex justify-content-center align-items-center"
	     style="height: 100vh;">

		<div class="row w-100">
			<div class="col-md-6 titleCard">
				<img src="{% static 'Photos/BullyFilter.png' %}" alt="Bully Filter Logo" class="img-fluid">
			</div>

			<div class="col-md-6">
				<div class="card position-relative">
					<div class="card-body">
						<form id="analysisForm"
						      method="POST">

							{% csrf_token %}
							{% crispy form %}
							{% if error %}
								<div class="alert alert-danger mt-3" role="alert">
									<strong>Something went wrong:</strong><br>
									{{ error }}
								</div>
							{% endif %}

							<!-- Loading Indicator -->
							<div id="loadingIndicator" class="text-center mt-3 d-none">
								<div class="spinner-border text-primary" role="status">
									<span class="visually-hidden">Loading...</span>
								</div>
								<p class="mt-2">Your text is being analyzed. Please wait...</p>
							</div>
							{% if textResult %}
								<hr>
								<h3>De-Toxed Output</h3>
								<h5>{{ textResult }}</h5>
							{% endif %}

						</form>

						<div class="mt-3 text-muted small text-center">
							<p>Please note: None of your information will be saved after being submitted.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
